{% load static %}
{#<html>#}
{#<h1>Welcome to the Greatest Library!</h1>#}
{#<h3>Library content:</h3>#}
{#<ul>#}
{#    <li>Num books: {{ num_books }}</li>#}
{#    <li>Num authors: {{ num_authors }}</li>#}
{#    <li>Num literary formats: {{ num_literary_formats }}</li>#}
{#</ul>#}
{#</html>#}


{# {{ num_books }} - Django-шаблонізатор (Django Template Language, DTL) дозволяє створювати HTML-шаблони,#}
{#які динамічно наповнюються даними, переданими з бекенда.#}

{## У прикладі {{ num_books }} — це синтаксис для відображення значення змінної num_books у шаблоні. #}
{## Через подвійні фігурні дужки ({{ }}) можна виводити значення змінних, переданих із контексту.#}
}
